<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <div style="width: 26rem;">
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1">
      <li class="nav-item" (click)="navClick('login')">
        <a class="nav-link" [ngClass]="{'active':isLogin}" id="tab-login">Login</a>
      </li>
      <li class="nav-item" (click)="navClick('register')">
        <a class="nav-link" [ngClass]="{'active':isRegister}" id="tab-register">Register</a>
      </li>
    </ul>
    <!-- Pills navs -->
    <!-- Pills content -->
    <div class="tab-content">
      <span *ngIf="isLogin">
        <app-login (register)="isRegisterClicked()" (Forgot)="isForgot()"></app-login>
      </span>
      <span *ngIf="isRegister">
        <app-register></app-register>
      </span>
    </div>
    <!-- Pills content -->
  </div>
</section>

<!-- Modal -->
<div class="modal top fade" id="exampleModal" tabindex="-1" *ngIf="isForgotPassword"
  style="display: unset;opacity:221;backdrop-filter: blur(10px);">
  <div class="modal-dialog" style="width: 300px;padding-top: 150px;">
    <div class="modal-content text-center">
      <div class="modal-header h5 text-white bg-primary justify-content-center">
        Password Reset
      </div>
      <div class="modal-body px-5">
        <p class="py-2">
          Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline" *ngIf="!isEmailSent" >
          <input type="email" id="typeEmail" [(ngModel)]="forgotEmail" class="form-control my-3" />
          <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <span class="blockquote-footer"   *ngIf="isEmailSent">Thanks, Reset Link is been Sent to you Mail!</span>
        <a class="btn btn-primary w-100" style="margin-top: 20px;" *ngIf="!isEmailSent" (click)="reset()">Reset password</a>
        <div class="d-flex justify-content-between mt-4" style="display: unset !important;"  *ngIf="!isEmailSent">
          <a class="" (click)="isForgotPassword=false">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>