<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <div style="width: 26rem;">
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1">
      <li class="nav-item" (click)="navClick('login')">
        <a class="nav-link" [ngClass]="{'active':isLogin}" id="tab-login">Login</a>
      </li>
      <li class="nav-item" (click)="navClick('register')">
        <a class="nav-link" [ngClass]="{'active':isRegister}" id="tab-register">Register</a>
      </li>
    </ul>
    <!-- Pills navs -->
    <!-- Pills content -->
    <div class="tab-content">
      <span *ngIf="isLogin">
        <app-login></app-login>
      </span>
      <span *ngIf="isRegister">
        <app-register></app-register>
      </span>
    </div>
    <!-- Pills content -->
  </div>
</section>